<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blue Chip</title>
    <meta content="" name="keywords">
    <meta content="" name="description">
    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='img/logo.jpg') }}">
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Libraries Stylesheet -->
    <link href="{{ url_for('static', filename='css/animate.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/owl.carousel.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/tempusdominus-bootstrap-4.min.css') }}" rel="stylesheet" >
   
    <!-- Customized Bootstrap Stylesheet -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}"  rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar & Hero Start -->
    <div class="container-fluid position-relative p-0">
        {% block navbar %}
           {% include "navbar.html" %}
        {% endblock %}

        <div class="container-fluid bg-primary py-5 mb-5 hero-header1">
            <div class="container py-5">
                <div class="row justify-content-center py-5">
                    <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                        <h1 class="display-3 text-white animated slideInDown">About Us</h1>
                        <nav aria-label="breadcrumb">
                         
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar & Hero End -->

         <!-- Booking Start -->
         <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s" >
            <div class="container" >
                <div class="text-center">
                            
                    <h1 class="mb-5" style="color: black;">About Our Company</h1>
                </div>
                <div class="booking p-5" style="border-radius: 30px;">
                    
                    <div class="row g-5 align-items-center">
                     
                        <p > <li style="color: white;"> Bluechip Services International Pvt. Ltd. is an organization
                            specializing in providing comprehensive human resource
                            deployment solutions to multinational and large corporations
                            worldwide. Established in 1999 by a team of young HR
                            professionals with academic expertise and extensive
                            experience in staffing, recruitment, and placement, the
                            company is headquartered in India and has a strong
                            presence in the UK, USA, Canada, Australia, New Zealand,
                            Malaysia and Europe country the Middle East, with plans to expand into
                            other developed countries.</li> <br>
                            <li style="color: white;">Equipped with the necessary infrastructure and resources to
                            meet industry standards and client-specific requirements,
                            the company's workforce is proficient in matching clients'
                            workforce needs. Qualified HR professionals diligently
                            identify suitable candidates for various job roles.
                            Furthermore, Bluechip International engages high-caliber
                            consultants strategically located to facilitate the
                            recruitment of local talent for international placements.</li></p>
                       
                    </div>
                </div>
            </div>
        </div>
        <!-- Booking Start -->


    <!-- About Md  -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="img-fluid position-absolute w-100 h-100" src="{{ url_for('static', filename='img/md.jpeg') }}" alt="" style="object-fit: cover;border-radius: 10px;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <h6 class="section-title bg-white text-start text-primary pe-3">CHAIRMAN MANAGING DIRECTOR</h6>
                    <h4 class="mb-4"> <span class="text-primary">Mohammed Hariss</span></h4>
                    <p class="mb-4">Bluechip Overseas Education, a trusted name in Human Resources since 1999, is now celebrating its Silver Jubilee in 2025. We have built a strong reputation for excellence in supplying skilled, semi-skilled, and unskilled labor to employers worldwide. Over the years, we've refined our recruitment and training processes, ensuring the highest standards to meet the diverse needs of our clients with precision and efficiency.<br>

                        In 2005, recognizing the growing demand for higher education abroad, we expanded into the overseas education sector, placing over 1,000 students annually at top-ranking universities worldwide. We take pride in providing a comprehensive range of services, including educational loan assistance and visa guidance, ensuring a smooth and secure transition for students and their families. The trust placed in us has been the cornerstone of our success, and as we celebrate our Silver Jubilee, we remain committed to helping students achieve their dreams of higher education abroad.</p>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- About Md -->

     <!-- About Hr -->
     <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
               
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <h6 class="section-title bg-white text-start text-primary pe-3">EXECUTIVE DIRECTOR</h6>
                    <h4 class="mb-4"><span class="text-primary">DR. MUBEEN TAJ </span></h4>
                    <p class="mb-4">Headhunting - an art</p>
                    <p class="mb-4">Mrs. Mubeen Taj, a qualified professional in HR with a medical
                        background, leads our recruitment division with exceptional skill. She
                        excels in identifying candidates who precisely match client
                        requirements, particularly in the healthcare sector. Mrs. Taj's
                        expertise lies in recruiting doctors, nurses, and paramedical staff for
                        esteemed hospitals in Malaysia and Europe.</p>

                        <p>Her adeptness in selecting the right candidates has earned her
                            recognition from top organizations, showcasing her reliability in filling
                            specific roles effectively.</p>
     
               
                  
                </div>

                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="img-fluid position-absolute w-100 h-100" src="{{ url_for('static', filename='img/ed.jpeg') }}" alt="" style="object-fit: cover;border-radius: 10px;">
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!-- About Hr -->



    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s" >
        <div class="container" >
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Vision&Mission</h6>
                <h1 class="mb-5"> Our Visions</h1>
            </div>
            <div class="booking-v p-5" style="border-top-left-radius: 30px;border-bottom-right-radius: 30px;">
                <div class="row g-5 align-items-center">
                    <div class="col-md-6 text-white">
                       <h5 class="text-white">At Bluechip Overseas Education, our mission is "Empowering Dreams and Enriching Lives." We are dedicated to excelling as the foremost facilitator of global education, connecting students with top institutions worldwide, and fostering the growth of future global leaders. By helping students achieve their educational aspirations, we play a crucial role in shaping their success and building the ladder for their careers.</h5>
                    </div>
                    <div class="col-md-6 ">
                       
                      <h5 class="text-white">Facilitate access to quality education for every aspiring student.
                        Forge partnerships with renowned educational institutions globally to provide diverse opportunities.
                        Empower students to thrive in a globalized world by preparing them for success in their careers and lives.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Team Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3"></h6>
                <h1 class="mb-5"> BlueChip Family</h1>
            </div>
            <div class="row g-4">
             
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s" >
                    <div class="team-item" >
                        <div class="overflow-hidden" style="border-radius: 30px;">
                            <img class="img-fluid" src="{{ url_for('static', filename='img/emp-001.jpeg') }}" alt="img" style="height: 280px;width:100%">
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -19px;">
                         
                        </div>
                        <div class="text-center p-4  ">
                            <h5 class="mb-0">Latha</h5>
                            <small style="font-size:16px">Finance Manager </small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item">
                        <div class="overflow-hidden" style="border-radius: 30px;">
                            <img class="img-fluid" src="{{ url_for('static', filename='img/emp-4.jpeg') }}" alt="" style="height: 280px;width:100%">
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -19px;">
                      
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">Mohammed Shuhaib</h5>
                            <small style="font-size:16px">MIS & Forex Executive & Loan</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item">
                        <div class="overflow-hidden" style="border-radius: 30px;">
                            <img class="img-fluid" src="{{ url_for('static', filename='img/emp-5.jpeg') }}" alt="">
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -19px;">
                        
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">Priya</h5>
                            <small style="font-size:16px">PG ADMISSION MEDICINE/VISA ASSISTANCE <br> (INDIA)</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="team-item">
                        <div class="overflow-hidden" style="border-radius: 30px;">
                            <img class="img-fluid" src="{{ url_for('static', filename='img/jabir.jpeg') }}" alt="">
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -19px;">
                        
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">Jabir Ahmed</h5>
                            <small style="font-size:16px">Visa Document Controller </small>
                            <small >(Bangalore)<small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->
    <!-- Team Start -->
    <div class="container-xxl py-5">
        <div class="container">
           
            <div class="row g-4">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item">
                        <div class="overflow-hidden" style="border-radius: 30px;">
                            <img class="img-fluid" src="{{ url_for('static', filename='img/emp-2.jpeg') }}" alt="">
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -19px;">
                        
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">Mohammed Ishaq</h5>
                            <small style="font-size:16px">International BDM</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item">
                        <div class="overflow-hidden" style="border-radius: 30px;">
                            <img class="img-fluid" src="{{ url_for('static', filename='img/team-2.jpg') }}" alt="">
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -19px;">
                          
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">Afifa Nishath</h5>
                            <small style="font-size:16px">Admission Executive  MBBS</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item">
                        <div class="overflow-hidden" style="border-radius: 30px;">
                            <img class="img-fluid" src="{{ url_for('static', filename='img/jyothi.jpeg') }}" alt="">
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -19px;">
                           
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">Jyothi</h5>
                            <small style="font-size:16px">Admission Executive Europe/VISA ASSISTANCE (North India,North Karnataka)</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="team-item">
                        <div class="overflow-hidden" style="border-radius: 30px;"> 
                            <img class="img-fluid" src="{{ url_for('static', filename='img/kamala.jpeg') }}" alt="" style="width:515px;height:270px">
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -19px;">
                          
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">Kamala</h5>
                            <small style="font-size:16px">Admission Executive Europe UG /PG (Hydrabad,Kerala,<br>Karnataka,TAMILNADU )</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->
    <!-- Team Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Networks</h6>
                <h1 class="mb-5"> Our Global Networks</h1>
            </div>
            <div class="Slide-container h-100">
                <div class="row align-items-center h-100">
                  <div class="container rounded">
                   
                    <div class="slider">
                      <div class="logos">
                        <i class=""><img src="{{ url_for('static', filename='img/n-1.png') }}" alt="img" style="width: 10%;height: 10%;"></i>
                        <i class=""><img src="{{ url_for('static', filename='img/n-2.png') }}" alt="img" style="width: 10%;height: 10%;"></i>
                        <i class=""><img src="{{ url_for('static', filename='img/n-3.png') }}" alt="img" style="width: 10%;height: 10%;"></i>
                        <i class=""><img src="{{ url_for('static', filename='img/n-4.png') }}" alt="img" style="width: 10%;height: 10%;"></i>
                        <i class=""><img src="{{ url_for('static', filename='img/n-5.png') }}" alt="img" style="width: 10%;height: 10%;"></i>
                        <i class=""><img src="{{ url_for('static', filename='img/n-6.png') }}" alt="img" style="width: 10%;height: 10%;"></i>
                        <i class=""><img src="{{ url_for('static', filename='img/n-7.png') }}" alt="img" style="width: 10%;height: 10%;"></i>
                        <i class=""><img src="{{ url_for('static', filename='img/n-8.png') }}" alt="img" style="width: 10%;height: 10%;"></i>
                        <i class=""><img src="{{ url_for('static', filename='img/n-9.png') }}" alt="img" style="width: 10%;height: 10%;"></i>

                      </div>
                      <div class="logos">
                        <i class=""><img src="{{ url_for('static', filename='img/n-1.png') }}" alt="img" style="width: 10%;height: 10%;"></i>
                        <i class=""><img src="{{ url_for('static', filename='img/n-2.png') }}" alt="img" style="width: 10%;height: 10%;"></i>
                        <i class=""><img src="{{ url_for('static', filename='img/n-3.png') }}" alt="img" style="width: 10%;height: 10%;"></i>
                        <i class=""><img src="{{ url_for('static', filename='img/n-4.png') }}" alt="img" style="width: 10%;height: 10%;"></i>
                        <i class=""><img src="{{ url_for('static', filename='img/n-5.png') }}" alt="img" style="width: 10%;height: 10%;"></i>
                        <i class=""><img src="{{ url_for('static', filename='img/n-6.png') }}" alt="img" style="width: 10%;height: 10%;"></i>
                        <i class=""><img src="{{ url_for('static', filename='img/n-7.png') }}" alt="img" style="width: 10%;height: 10%;"></i>
                        <i class=""><img src="{{ url_for('static', filename='img/n-8.png') }}" alt="img" style="width: 10%;height: 10%;"></i>
                        <i class=""><img src="{{ url_for('static', filename='img/n-9.png') }}" alt="img" style="width: 10%;height: 10%;"></i>
                      </div>
                     
                    </div>
                  </div>
                </div>
              
              </div>
        </div>
    </div>
    <!-- Team End -->
<!-- FAQ -->
    <div class="accordion">
        <center><h1>Frequently Asked Questions</h1></center>
        <div class="accordion-item">
            <input type="checkbox" id="accordion1">
            <label for="accordion1" class="accordion-item-title"><span class="icon"></span>What services do you offer?*</label>
            <div class="accordion-item-desc">  We provide a range of services including university selection, application assistance, visa guidance, scholarship information, and pre-departure briefings.</div>
        </div>
    
        <div class="accordion-item">
            <input type="checkbox" id="accordion2">
            <label for="accordion2" class="accordion-item-title"><span class="icon"></span>How do I choose the right university?*</label>
            <div class="accordion-item-desc">Our consultants will help you assess your academic background, career goals, and personal preferences to find universities that match your needs</div>
        </div>
    
        <div class="accordion-item">
            <input type="checkbox" id="accordion3">
            <label for="accordion3" class="accordion-item-title"><span class="icon"></span>What documents are required for the application process?*</label>
            <div class="accordion-item-desc">Typically, you will need academic transcripts, letters of recommendation, a statement of purpose, and proof of English proficiency ( IELTS or TOEFL, PTE Duo lingo  scores).</div>
        </div>
    
        <div class="accordion-item">
            <input type="checkbox" id="accordion4">
            <label for="accordion4" class="accordion-item-title"><span class="icon"></span>How can I apply for scholarships?*</label>
            <div class="accordion-item-desc">We provide information on various scholarship opportunities and assist you in preparing the necessary documents and applications.</div>
        </div>
    
        <div class="accordion-item">
            <input type="checkbox" id="accordion5">
            <label for="accordion5" class="accordion-item-title"><span class="icon"></span>What is the visa application process like?*</label>
            <div class="accordion-item-desc">We guide you through the visa application process, including documentation, interview preparation, and submission procedures.</div>
        </div>
        <div class="accordion-item">
            <input type="checkbox" id="accordion6">
            <label for="accordion6" class="accordion-item-title"><span class="icon"></span>How long does the application process take?*</label>
            <div class="accordion-item-desc">The timeline varies by university and program, but generally, it can take anywhere from a few weeks .</div>
        </div>
        <div class="accordion-item">
            <input type="checkbox" id="accordion7">
            <label for="accordion7" class="accordion-item-title"><span class="icon"></span>Do you provide assistance with accommodation?*</label>
            <div class="accordion-item-desc">Yes, we can help you find suitable accommodation options, whether on-campus or off-campus.</div>
        </div>
        <div class="accordion-item">
            <input type="checkbox" id="accordion8">
            <label for="accordion8" class="accordion-item-title"><span class="icon"></span>What should I do if I face issues while studying abroad?*</label>
            <div class="accordion-item-desc">We offer ongoing support and can connect you with resources to help resolve any issues you may encounter during your studies.</div>
        </div>
        <div class="accordion-item">
            <input type="checkbox" id="accordion9">
            <label for="accordion9" class="accordion-item-title"><span class="icon"></span>Are there any hidden fees?*</label>
            <div class="accordion-item-desc">We are transparent about our fees and will provide a detailed breakdown of costs before you engage our services</div>
        </div>
        <div class="accordion-item">
            <input type="checkbox" id="accordion10">
            <label for="accordion10" class="accordion-item-title"><span class="icon"></span>How can I contact you for more information?*</label>
            <div class="accordion-item-desc">You can reach us via our website contact form, email, or phone. We also offer free initial consultations.</div>
        </div>
    
    </div>
    <!-- FAQ -->
   
 
        

    <!-- Footer Start -->
    {% block footer %}
    {% include "footer.html" %}
    {% endblock %}
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment-timezone.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tempusdominus-bootstrap-4.min.js') }}"></script>

    <!-- Template Javascript -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>