<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blue Chip</title>
        <meta content="" name="keywords">
        <meta content="" name="description">
        <meta http-equiv="Cache-control" content="no-cache">
        <!-- Favicon -->
        <link rel="icon" href="{{ url_for('static', filename='img/logo.jpg') }}">
        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">
    
        <!-- Icon Font Stylesheet -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
        <!-- Libraries Stylesheet -->
        <link href="{{ url_for('static', filename='css/animate.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/owl.carousel.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/tempusdominus-bootstrap-4.min.css') }}" rel="stylesheet" >
       
        <!-- Customized Bootstrap Stylesheet -->
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/style.css') }}"  rel="stylesheet">
    </head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->





    <!-- Navbar & Hero Start -->
    <div class="container-fluid position-relative p-0">
        {% block navbar %}
        {% include "navbar.html" %}
        {% endblock %}





   <div class="container-fluid bg-primary py-5 mb-5 hero-header01">
    <div class="container py-5">
        <div class="row justify-content-center py-5">
            <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
            <h2 class="display-3 text-white animated slideInDown">Best PTE Coaching in Chennai-bengaluru-kerala-coimbatore-mumbai</h2>
                <nav aria-label="breadcrumb">
                 
                </nav>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Navbar & Hero End -->

 <!-- Booking Start -->
 <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s" >
    <div class="container" >
        <div class="text-center">
                    
            <h1 class="mb-5" style="color: black;">Acadamic Training</h1>
        </div>
        <div class="booking p-5" style="border-radius: 30px;">
            
            <div class="row g-5 align-items-center">
             
                <p > <li style="color: white;">PTE Academic is a computer-based test designed to test your English reading, writing, listening and Speaking skills. The test takes approximately three hours to complete. This includes an un-timed Introduction to the test and one optional scheduled break of u p to 10 minutes.</li> <br>
                    <li style="color: white;">This PTE Academic offline practice test includes a combination of items covering each of the language skills speaking, writing, reading and listening as assessed in the actual test. Most of the content includes items from the online unscored practice test.</li><br>
                    
                
                </p>
               
            </div>
        </div>
    </div>
</div>
<!-- Booking Start -->


   <!-- Package Start -->
   <div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary1 px-3">Timeline</h6>
            <h1 class="mb-5"></h1>
        </div>
        <div class="timeline">
            <ul>
            <li>
                <div class="content">
                    <h3>Overview of PTE</h3>
                    <h6 style="color: #382e77;">Reading</h6>
                    <h6 style="color: #382e77;">Listening</h6>
                    <h6 style="color: #382e77;">Writing</h6>
                    <h6 style="color: #382e77;">Speaking</h6>
                    <h6 style="color: #382e77;">Test Duration</h6>
                    <h6 style="color: #382e77;">Common Myths & FAQs</h6>

                </div>
                <div class="time">
                <h4 style="color: White;">Days</h4>
                </div>
            </li>
            
            <li>
                <div class="content">
                <h3>Diagnostic Test</h3>
             
                <h6 style="color: #382e77;">Initial Assessment</h6>
                <h6 style="color: #382e77;">Identifying Strengths & Weaknesses</h6>
                <h6 style="color: #382e77;">Setting a Target Score</h6>
                
                </div>
                <div class="time">
                <h4 style="color: white;">Days</h>
                </div>
            </li>
            
            <li>
                <div class="content">
                <h3>Speaking Module</h3>
                <h6 style="color: #382e77;">Personal Introduction</h6>
                <h6 style="color: #382e77;">Read Aloud</h6>
                <h6 style="color: #382e77;">Repeat Sentence</h6>
                <h6 style="color: #382e77;">Describe Image</h6>
                <h6 style="color: #382e77;">Re-tell Lecture</h6>
                </div>
                <div class="time">
                <h4 style="color: white;">Days</h4>
                </div>
            </li>
            
            <li>
                <div class="content">
                <h3>Writing Module</h3>
                <h6 style="color: #382e77;">Time Management</h6>
                <h6 style="color: #382e77;">Grammar & Vocabulary</h6>
                <h6 style="color: #382e77;">Common Topics</h6>
               
               
                </div>
                <div class="time">
                <h4 style="color: white;">Days</h4>
                </div>
            </li>
            <li>
                <div class="content">
                <h3>Reading Module</h3>
                <h6 style="color: #382e77;">Multiple Choice Questions</h6>
                <h6 style="color: #382e77;">Re-order Paragraphs</h6>
                <h6 style="color: #382e77;">Fill in the Blanks</h6>
                <h6 style="color: #382e77;">Reading Techniques</h6>
               
                </div>
                <div class="time">
                <h4 style="color: white;">Days</h4>
                </div>
            </li>
            <li>
                <div class="content">
                <h3>Listening Module</h3>
                <h6 style="color: #382e77;">Summarize Spoken Text</h6>
                <h6 style="color: #382e77;">Multiple Choice Questions</h6>
                <h6 style="color: #382e77;">Fill in the Blanks</h6>
                <h6 style="color: #382e77;">Highlight Correct Summary</h6>
                <h6 style="color: #382e77;">Select Missing Word</h6>
                <h6 style="color: #382e77;">Highlight Incorrect Words</h6>
                <h6 style="color: #382e77;">Write from Dictation</h6>
               </div>
                <div class="time">
                <h4 style="color: white;">Days</h4>
                </div>
            </li>
            <li>
                <div class="content">
                <h3>Test Strategies</h3>
                <h6 style="color: #382e77;">Time Management</h6>
                <h6 style="color: #382e77;">Score Maximization</h6>
                <h6 style="color: #382e77;">Handling Test-Day Pressure</h6>
               
                </div>
                <div class="time">
                <h4 style="color: white;">Days</h4>
                </div>
            </li>
            <li>
                <div class="content">
                <h3>Mock Tests</h3>
                <h6 style="color: #382e77;">Regular Practice</h6>
                <h6 style="color: #382e77;">Feedback Sessions</h6>
                <h6 style="color: #382e77;">Targeted Practice</h6>
               </div>
                <div class="time">
                <h4 style="color: white;">Days</h4>
                </div>
            </li>
            <li>
                <div class="content">
                <h3>Final Preparation</h3>
                <h6 style="color: #382e77;">Review of Key Concepts</h6>
                <h6 style="color: #382e77;">Tips for Test Day</h6>
                <h6 style="color: #382e77;">Confidence Building</h6>
               
                </div>
                <div class="time">
                <h4 style="color: white;">Days</h4>
                </div>
            </li>
            <div style="clear:both;"></div>
            </ul>
        </div>
    </div>
</div>
<!-- Package End -->

<!-- Table start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s" >
<div class="container" >
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h6 class="section-title bg-white text-center text-primary px-3">Exam pattern</h6>
        <h1 class="mb-5">The following table shows the PTE exam pattern</h1>
    </div>
    
        <div class="row g-5 align-items-center">
            <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Section</th>
                      <th scope="col">Description</th>
                      <th scope="col">Duration</th>
                      <th scope="col">Skills Assessed</th>
                   
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="noBorder">Speaking & Writing</td>
                      <td class="noBorder">Integrated tasks (e.g., reading aloud, essay writing)</td>
                      <td class="noBorder">77-93 minutes</td>
                      <td class="noBorder">Speaking fluency, pronunciation, written communication</td>
                   
                    </tr>
                    <tr>
                        <td class="noBorder">Reading</td>
                        <td class="noBorder">Multiple-choice questions, fill in the blanks, re-order paragraphs</td>
                        <td class="noBorder">32-41 minutes</td>
                        <td class="noBorder">Reading comprehension, text analysis</td>
                    
                    </tr>
                    <tr>
                        <td class="noBorder">Listening</td>
                        <td class="noBorder">Summarize spoken text, multiple-choice questions, fill in the blanks</td>
                        <td class="noBorder">45-57 minutes</td>
                        <td class="noBorder">Listening comprehension, note-taking skills</td>
                     
                    </tr>
                  
                 
                 
                  </tbody>
                </table>
              </div>
        </div>
    
</div>
</div>
<!-- Table End -->






<!-- Team Start -->
<div class="container-xxl py-5">
<div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h6 class="section-title bg-white text-center text-primary px-3">Networks</h6>
        <h1 class="mb-5"> Our Global Networks</h1>
    </div>
    <div class="Slide-container h-100">
        <div class="row align-items-center h-100">
          <div class="container rounded">
           
            <div class="slider">
                <div class="logos">
                  <i class=""><img src="{{ url_for('static', filename='img/n-1.png') }}" alt="img" style="width: 10%;height: 10%;"></i>
                  <i class=""><img src="{{ url_for('static', filename='img/n-2.png') }}" alt="img" style="width: 10%;height: 10%;"></i>
                  <i class=""><img src="{{ url_for('static', filename='img/n-3.png') }}" alt="img" style="width: 10%;height: 10%;"></i>
                  <i class=""><img src="{{ url_for('static', filename='img/n-4.png') }}" alt="img" style="width: 10%;height: 10%;"></i>
                  <i class=""><img src="{{ url_for('static', filename='img/n-5.png') }}" alt="img" style="width: 10%;height: 10%;"></i>
                  <i class=""><img src="{{ url_for('static', filename='img/n-6.png') }}" alt="img" style="width: 10%;height: 10%;"></i>
                  <i class=""><img src="{{ url_for('static', filename='img/n-7.png') }}" alt="img" style="width: 10%;height: 10%;"></i>
                  <i class=""><img src="{{ url_for('static', filename='img/n-8.png') }}" alt="img" style="width: 10%;height: 10%;"></i>
                  <i class=""><img src="{{ url_for('static', filename='img/n-9.png') }}" alt="img" style="width: 10%;height: 10%;"></i>

                </div>
                <div class="logos">
                  <i class=""><img src="{{ url_for('static', filename='img/n-1.png') }}" alt="img" style="width: 10%;height: 10%;"></i>
                  <i class=""><img src="{{ url_for('static', filename='img/n-2.png') }}" alt="img" style="width: 10%;height: 10%;"></i>
                  <i class=""><img src="{{ url_for('static', filename='img/n-3.png') }}" alt="img" style="width: 10%;height: 10%;"></i>
                  <i class=""><img src="{{ url_for('static', filename='img/n-4.png') }}" alt="img" style="width: 10%;height: 10%;"></i>
                  <i class=""><img src="{{ url_for('static', filename='img/n-5.png') }}" alt="img" style="width: 10%;height: 10%;"></i>
                  <i class=""><img src="{{ url_for('static', filename='img/n-6.png') }}" alt="img" style="width: 10%;height: 10%;"></i>
                  <i class=""><img src="{{ url_for('static', filename='img/n-7.png') }}" alt="img" style="width: 10%;height: 10%;"></i>
                  <i class=""><img src="{{ url_for('static', filename='img/n-8.png') }}" alt="img" style="width: 10%;height: 10%;"></i>
                  <i class=""><img src="{{ url_for('static', filename='img/n-9.png') }}" alt="img" style="width: 10%;height: 10%;"></i>
                </div>
             
            </div>
          </div>
        </div>
      
      </div>
</div>
</div>
<!-- Team End -->

   <!-- Footer Start -->
   {% block footer %}
   {% include "footer.html" %}
   {% endblock %}
   <!-- Footer End -->

   <!-- Back to Top -->
   <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


   <!-- JavaScript Libraries -->
   <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
   <script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/easing.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/waypoints.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/moment-timezone.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/tempusdominus-bootstrap-4.min.js') }}"></script>

   <!-- Template Javascript -->
   <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>