<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Bluechip</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='log_css/style.css') }}">
   
    </head>
    <body>
        <div class="container clearfix">
            <div class="form login">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" style="color:green">
                      {{ message }}
                    </div>
                  {% endfor %}
                {% endif %}
              {% endwith %}
                <a class="logo" href="">
                    <img src="{{ url_for('static', filename='img/logo.jpg') }}" alt="Logo" />
                </a>
                <form method="POST" action="{{ url_for('update_password') }}">
                    <p>
                        <label>New Password:<span>*</span></label>
                        <input type="password" name="password" required>
                    </p>
                    <p>
                        <input type="submit" value="Update Password" />
                    </p>
                </form>
                
            </div>
            
        </div>

    </body>
</html>
