<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blue Chip</title>
        <meta content="" name="keywords">
        <meta content="" name="description">
        <meta http-equiv="Cache-control" content="no-cache">
        <!-- Favicon -->
        <link rel="icon" href="{{ url_for('static', filename='img/logo.jpg') }}">
        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">
    
        <!-- Icon Font Stylesheet -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
        <!-- Libraries Stylesheet -->
        <link href="{{ url_for('static', filename='css/animate.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/owl.carousel.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/tempusdominus-bootstrap-4.min.css') }}" rel="stylesheet" >
       
        <!-- Customized Bootstrap Stylesheet -->
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/style.css') }}"  rel="stylesheet">
    </head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->





    <!-- Navbar & Hero Start -->
    <div class="container-fluid position-relative p-0">
        {% block navbar %}
        {% include "navbar.html" %}
        {% endblock %}

        <div class="container-fluid bg-primary py-5 mb-5 hero-header01">
            <div class="container py-5">
                <div class="row justify-content-center py-5">
                    <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                    <h2 class="display-3 text-white animated slideInDown">Best TOFEL Coaching in Chennai-bengaluru-kerala-coimbatore-mumbai</h2>
                        <nav aria-label="breadcrumb">
                         
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar & Hero End -->

         <!-- Booking Start -->
         <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s" >
            <div class="container" >
                <div class="text-center">
                            
                    <h1 class="mb-5" style="color: black;">Acadamic Training</h1>
                </div>
                <div class="booking p-5" style="border-radius: 30px;">
                    
                    <div class="row g-5 align-items-center">
                     
                        <p > <li style="color: white;">Give yourself the advantage with the TOEFL® test, the leading English-language test for study, immigration and work. TOEFL scores are accepted by more than 10,000 universities and other institutions in over 150 countries, including Australia, Canada, New Zealand, the U.K., the United States, and all across Europe and Asia. Stand out among other applicants and get noticed with the TOEFL test</li> <br>
                            <li style="color: white;">Compared to other English-language tests, the TOEFL® test includes a number of advantages that help you stand out from other applicants.</li><br>
                            <li style="color: white;">More than 35 million people from all over the world have taken the TOEFL test to demonstrate their English-language proficiency. The average English skill level ranges between Intermediate and Advanced.</li>
                        
                        </p>
                       
                    </div>
                </div>
            </div>
        </div>
        <!-- Booking Start -->


           <!-- Package Start -->
           <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="section-title bg-white text-center text-primary1 px-3">Timeline</h6>
                    <h1 class="mb-5"></h1>
                </div>
                <div class="timeline">
                    <ul>
                    <li>
                        <div class="content">
                            <h3>Phase 1</h3>
                            <h6 style="color: #382e77;">Reading</h6>
                            <h6 style="color: #382e77;">Listening</h6>
                            <h6 style="color: #382e77;">Writing</h6>
                            <h6 style="color: #382e77;">Speaking</h6>

                        </div>
                        <div class="time">
                        <h4 style="color: White;">Days</h4>
                        </div>
                    </li>
                    
                    <li>
                        <div class="content">
                        <h3>Phase 2</h3>
                     
                        <h6 style="color: #382e77;">Diagnostic Test</h6>
                        
                        </div>
                        <div class="time">
                        <h4 style="color: white;">Days</h>
                        </div>
                    </li>
                    
                    <li>
                        <div class="content">
                        <h3>Phase 3</h3>
                        <h6 style="color: #382e77;">Reading Section</h6>
                        <h6 style="color: #382e77;">Listening Section</h6>
                        <h6 style="color: #382e77;">Speaking Section</h6>
                        <h6 style="color: #382e77;">Writing Section</h6>
                        </div>
                        <div class="time">
                        <h4 style="color: white;">Days</h4>
                        </div>
                    </li>
                    
                    <li>
                        <div class="content">
                        <h3>Phase 4</h3>
                        <h6 style="color: #382e77;">Mock Tests and Timed Practice</h6>
                       
                       
                        </div>
                        <div class="time">
                        <h4 style="color: white;">Days</h4>
                        </div>
                    </li>
                    <li>
                        <div class="content">
                        <h3> Phase 5</h3>
                        <h6 style="color: #382e77;">Test Day Preparation</h6>
                       
                        </div>
                        <div class="time">
                        <h4 style="color: white;">Days</h4>
                        </div>
                    </li>
                    <div style="clear:both;"></div>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Package End -->

        <!-- Table start -->
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s" >
        <div class="container" >
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Exam pattern</h6>
                <h1 class="mb-5">The following table shows the IELTS exam pattern</h1>
            </div>
            
            <div class="row g-5 align-items-center">
                    <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">Section</th>
                              <th scope="col">Skills Assessed</th>
                              <th scope="col">Duration</th>
                              <th scope="col">Format</th>
                           
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td class="noBorder">Reading</td>
                              <td class="noBorder">Reading comprehension of academic texts</td>
                              <td class="noBorder">54-72 minutes</td>
                              <td class="noBorder">3-4 passages, 10 questions each</td>
                           
                            </tr>
                            <tr>
                                <td class="noBorder">Listening</td>
                                <td class="noBorder">Understanding spoken English in academic settings</td>
                                <td class="noBorder">41-57 minutes</td>
                                <td class="noBorder">4-6 lectures, 2-3 conversations</td>
                            
                            </tr>
                            <tr>
                                <td class="noBorder">Speaking</td>
                                <td class="noBorder">Ability to speak about various topics</td>
                                <td class="noBorder">17 minutes</td>
                                <td class="noBorder">6 tasks (independent and integrated)</td>
                             
                            </tr>
                            <tr>
                                <td class="noBorder">Writing</td>
                                <td class="noBorder">Ability to write in academic contexts</td>
                                <td class="noBorder">50 minutes</td>
                                <td class="noBorder">2 tasks (independent and integrated)</td>
                             
                            </tr>
                            <tr>
                                <td class="noBorder">Total Duration</td>
                                <td class="noBorder"></td>
                                <td class="noBorder">3 hours (approx.)</td>
                                <td class="noBorder"></td>
                             
                            </tr>
                          
                         
                         
                          </tbody>
                        </table>
                      </div>
                </div>
            
        </div>
    </div>
     <!-- Table End -->






    <!-- Team Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Networks</h6>
                <h1 class="mb-5"> Our Global Networks</h1>
            </div>
            <div class="Slide-container h-100">
                <div class="row align-items-center h-100">
                  <div class="container rounded">
                   
                    <div class="slider">
                        <div class="logos">
                          <i class=""><img src="{{ url_for('static', filename='img/n-1.png') }}" alt="img" style="width: 10%;height: 10%;"></i>
                          <i class=""><img src="{{ url_for('static', filename='img/n-2.png') }}" alt="img" style="width: 10%;height: 10%;"></i>
                          <i class=""><img src="{{ url_for('static', filename='img/n-3.png') }}" alt="img" style="width: 10%;height: 10%;"></i>
                          <i class=""><img src="{{ url_for('static', filename='img/n-4.png') }}" alt="img" style="width: 10%;height: 10%;"></i>
                          <i class=""><img src="{{ url_for('static', filename='img/n-5.png') }}" alt="img" style="width: 10%;height: 10%;"></i>
                          <i class=""><img src="{{ url_for('static', filename='img/n-6.png') }}" alt="img" style="width: 10%;height: 10%;"></i>
                          <i class=""><img src="{{ url_for('static', filename='img/n-7.png') }}" alt="img" style="width: 10%;height: 10%;"></i>
                          <i class=""><img src="{{ url_for('static', filename='img/n-8.png') }}" alt="img" style="width: 10%;height: 10%;"></i>
                          <i class=""><img src="{{ url_for('static', filename='img/n-9.png') }}" alt="img" style="width: 10%;height: 10%;"></i>
  
                        </div>
                        <div class="logos">
                          <i class=""><img src="{{ url_for('static', filename='img/n-1.png') }}" alt="img" style="width: 10%;height: 10%;"></i>
                          <i class=""><img src="{{ url_for('static', filename='img/n-2.png') }}" alt="img" style="width: 10%;height: 10%;"></i>
                          <i class=""><img src="{{ url_for('static', filename='img/n-3.png') }}" alt="img" style="width: 10%;height: 10%;"></i>
                          <i class=""><img src="{{ url_for('static', filename='img/n-4.png') }}" alt="img" style="width: 10%;height: 10%;"></i>
                          <i class=""><img src="{{ url_for('static', filename='img/n-5.png') }}" alt="img" style="width: 10%;height: 10%;"></i>
                          <i class=""><img src="{{ url_for('static', filename='img/n-6.png') }}" alt="img" style="width: 10%;height: 10%;"></i>
                          <i class=""><img src="{{ url_for('static', filename='img/n-7.png') }}" alt="img" style="width: 10%;height: 10%;"></i>
                          <i class=""><img src="{{ url_for('static', filename='img/n-8.png') }}" alt="img" style="width: 10%;height: 10%;"></i>
                          <i class=""><img src="{{ url_for('static', filename='img/n-9.png') }}" alt="img" style="width: 10%;height: 10%;"></i>
                        </div>
                     
                    </div>
                  </div>
                </div>
              
              </div>
        </div>
    </div>
    <!-- Team End -->

    <!-- Footer Start -->
    {% block footer %}
    {% include "footer.html" %}
    {% endblock %}
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment-timezone.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tempusdominus-bootstrap-4.min.js') }}"></script>

    <!-- Template Javascript -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>